<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" type="text/css" href="../Style/carrinho.css">
</head>

<body>
    <div class="container-carrinho">
        <div class="fund-carrinho">
            <div class="tit-carrin">
                <h1>Carrinho de compras</h1>
            </div>

            <div class="itens-carrinho">
                <div class="img-carrin">
                    <img src="" alt="">
                </div>
                <div class="tit-carrin-prod">
                    <h2>TituloTituloTitulo</h2>
                </div>
                <div class="preco-carrin">
                    <h2>R$19,99</h2>
                </div>
                <div class="add-prod-carrin">
                    <img id="btn-mais" src="../img/botãomenos.png" alt="menos">
                    <input type="number">
                    <img id="btn-menos" src="../img/botãomais.png" alt="mais">
                </div>
                <div class="prod-total">
                    <h1>PRECO TOTAL</h1>
                    <p> Total: R$ <span id="compraTotal">0.00</span></p>
                </div>
                <div class="excluir-prod">
                    <img id="btn-deletar" src="../img/botãodel.png" alt="Deletar">
                </div>
            </div>

            <div class="btn-comprar">
                <input type="submit" value="Comprar">
            </div>
        </div>
    </div>
</body>
<script src="../Script/carrinho_script.js">
</script>
</html>