<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Produtos</title>
    <link rel="stylesheet" href="../Style/produtos.css">
</head>

<body>

    <div class="container">
        <div class="contain-fund-prod">
            <div class="tit-pag">
                <h1>PRODUTOS</h1>
            </div>
            <div class="produt">
                <div class="card-prod">
                    <div class="img-card">
                        <img src="../img/DogCatLogo.png" alt="">
                    </div>
                    <div class="tit-card">
                        <p>TITULOTITULOTITULOTITULOTITULOTITULOTITULOTITULO</p>
                    </div>
                    <div class="estrelas">

                        <img src="../img/estrelaCheia.png" alt="">
                        <img src="../img/estrelaCheia.png" alt="">
                        <img src="../img/estrelaCheia.png" alt="">
                        <img src="../img/estrelaCheia.png" alt="">
                        <img src="../img/estrelaVazia.png" alt="">
                        <p>(20)</p>
                    </div>
                    <div class="preco-card">
                        <h3>R$19,99</h3>
                    </div>
                    <div class="desc-card">
                        <h5>De:</h5>
                        <h4>R$ 29,99 </h4>
                    </div>
                    <div class="btn-card">
                        <input type="button" value="Adicionar ao Carrinho">
                    </div>
                </div>


            </div>

    
        </div>

    </div>

</body>

</html>