body {
    background-color: #f2f2f2; /* Cor do céu */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.predio {
    width: 200px;
    height: 400px;
    background-color: #f9f9f9; /* Cor do prédio */
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombra do prédio */
}

.terreo, .andar {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
}

.terreo {
    background-color: #8B4513; /* Cor do térreo */
}

.andar {
    background-color: #A9A9A9; /* Cor dos andares */
    border-top: 2px solid #666; /* Linha separando os andares */
}

.porta {
    width: 40px;
    height: 80px;
    background-color: #CD853F; /* Cor da porta */
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra da porta */
}

.janela {
    width: 30px;
    height: 30px;
    background-color: #B0C4DE; /* Cor da janela */
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra da janela */
}

.janela:nth-child(1) {
    left: 20px;
    top: 50px;
}

.janela:nth-child(2) {
    left: 60px;
    top: 50px;
}

.janela:nth-child(3) {
    left: 100px;
    top: 50px;
}

.janela:nth-child(4) {
    left: 140px;
    top: 50px;
}

.janela:nth-child(5) {
    left: 180px;
    top: 50px;
}