body {
    background-size: cover;
    color: silver;

}

header {
    font-family: 'Times New Roman', Times, serif;
    color: sandybrown
}

head {
    font-family: 'Orbitron', sans-serif;
}

.card {
    display: flex;
    border: 0px;

}

div .login{
    margin-top: 100px;
    margin: 0;
    width: 300px;
}